<!DOCTYPE html>
<html>
  <head>
    <title>KnittingTimes</title>
    <link rel="icon" href="<%= image_url('scarf.ico') %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Indie+Flower" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.knitting = "<%= image_url('knitting2.png') %>"
      window.calendar = "<%= image_url('calendar.ico') %>"
      window.clock = "<%= image_url('clock.ico') %>"
      window.pin = "<%= image_url('pin.ico') %>"
      window.planet = "<%= image_url('planet.ico') %>"
      window.idea = "<%= image_url('idea.ico') %>"
      window.knittingtimes = "<%= image_url('yarn.jpg') %>"
      window.splash = "<%= image_url('bears.jpg') %>"
      window.sheep1 = "<%= image_url('sheep-knitting.jpg') %>"
      window.sheep2 = "<%= image_url('sheep-walking.jpg') %>"
      window.sheep3 = "<%= image_url('sheep-hat.jpg') %>"
      window.sheep4 = "<%= image_url('sheep-playing.jpg') %>"
      window.sheep5 = "<%= image_url('sheep-mess.jpg') %>"
      window.profile = "<%= image_url('profile.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
